@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Fondamento&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
}

* {
  font-family: 'Fondamento', cursive;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: #8E0E00;
  color: white;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
}

#menu-btn {
  color: white;
  cursor: pointer;
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}

span {
  color: blue;
  font-size: 2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

header .logo {
  font-size: 2rem;
  color: white;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

header .logo::after {
  content: "PicSTUDIOS";
  margin: 0 0.5rem;
}

header .navbar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
}

@media (max-width: 680px) {
  header .navbar {
    padding: 0;
  }
}

header .navbar ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar ul li {
  list-style: none;
  margin: 0 0.5rem;
}

header .navbar ul li a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-style: italic;
  font-weight: bolder;
}

header .navbar ul li a:hover {
  border-bottom: 1px solid white;
}

header .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .social-icons a i {
  color: white;
  margin: 0 0.5rem;
}

@media (max-width: 680px) {
  header .social-icons a i {
    font-size: 1.36364rem;
  }
}

section {
  padding: 0 1rem;
}

section .content {
  display: block;
  padding: 1rem 1rem;
}

section .content .form-box {
  background: #767676;
  padding: 1rem 1rem;
  border-bottom-right-radius: 60px;
}

@media (max-width: 680px) {
  section .content .form-box {
    height: 48%;
    width: 100%;
  }
}

section .image-section img {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  -webkit-box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.2);
}

.home {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 2rem;
}

.hero-container {
  width: 100%;
}

.hero-container h1 {
  text-align: center;
  color: blue;
  text-shadow: 2px 2px 2px white;
  background: url(./images/back.jpg) center/cover no-repeat fixed;
}

.main {
  height: auto;
  width: 100%;
}

.image-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.image-grid .image {
  width: 100%;
  height: auto;
}

.image-grid img {
  width: 100%;
}

.pricing-container {
  height: auto;
  margin: 0 auto;
}

.pricing-container .pricing-content {
  height: auto;
  padding: 0 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media (max-width: 680px) {
  .pricing-container .pricing-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 1rem;
  }
}

.pricing-container .pricing-content .pricing-details {
  line-height: 3rem;
  height: 50vh;
  padding: 2rem 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 4rem 4rem -1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 4rem 4rem -1rem rgba(0, 0, 0, 0.3);
}

@media (max-width: 680px) {
  .pricing-container .pricing-content .pricing-details {
    height: 35vh;
  }
}

.pricing-container .pricing-content .one {
  background: #767676;
}

.pricing-container .pricing-content .two {
  background: white;
  color: blue;
}

.pricing-container .pricing-content .three {
  background: #767676;
}

.pricing-container .pricing-content .pricing-item {
  padding: 0 1rem;
}

.pricing-container .pricing-content .pricing-item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonial {
  width: 100%;
  height: auto;
  background: #000;
  margin-top: 5rem;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  padding: 5rem 5rem;
  font-style: italic;
}

@media (max-width: 680px) {
  .testimonial {
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
    padding: 0;
  }
}

.testimonial .testimonial-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media (max-width: 680px) {
  .testimonial .testimonial-cards {
    padding: 0 2rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

.contact-box {
  margin-top: 5rem;
}

.contact-box .contact-info, .contact-box .contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-box .contact-info {
  width: 100%;
  margin: 0 auto;
  background: #767676;
  padding: 0 3rem;
  -webkit-box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 680px) {
  .contact-box .contact-info {
    padding: 0.5rem 0.5rem;
  }
}

.contact-box .contact-form {
  margin: 0 auto;
  background: white;
  color: blue;
  margin: 1rem 0;
  padding: 0 3rem;
  -webkit-box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 680px) {
  .contact-box .contact-form {
    padding: 1rem 1rem;
  }
}

.contact-box .contact-icons i, .contact-box h4, .contact-box .map {
  color: white;
  margin: 0.8rem 0;
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 0 5rem;
  grid-gap: 1rem;
}

@media (max-width: 680px) {
  .contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 0;
  }
}

.footer {
  margin-top: 5rem;
  background: #767676;
}

@media (max-width: 680px) {
  .footer {
    width: 100%;
  }
}

.footer .booking-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 1rem;
}

@media (max-width: 680px) {
  .footer .booking-btn {
    padding: 0.5rem 0.5rem;
  }
}

.footer-content {
  text-align: center;
}

.footer-content ul li {
  list-style: none;
  display: inline-block;
}

.footer-content ul li a {
  text-decoration: none;
  color: white;
  margin: 1rem 1rem;
  font-size: 1rem;
}

.footer-content ul li a:hover {
  border-bottom: 1px solid #8E0E00;
}

.footer-icons i {
  margin: 0 2rem;
  color: blue;
}

@media (max-width: 680px) {
  header {
    padding: 0.5rem 0.5rem;
  }
  header .social-icons {
    display: none;
  }
  header .nav-menu {
    position: fixed;
    top: 65px;
    left: -100%;
    gap: 0;
    background-color: #333;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header .nav-menu.active {
    bottom: 15%;
    left: 0;
  }
  header .nav-menu a {
    margin: 1rem;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .hamburger {
    display: block;
  }
  header .hamburger .active .bar:nth-child(2) {
    opacity: 0;
  }
  header .hamburger .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  header .hamburger .active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .contact-info {
    width: 100%;
  }
  .form {
    padding: 0;
  }
  iframe {
    width: 95%;
  }
  #home.home {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 0;
  }
  #home.home .image-section img {
    padding: 0 1rem;
  }
  section.footer {
    width: 100%;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */